body {
  background-color: #212121;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile {
  margin-top: 20px;
}

.profile > span {
  margin-right: 10px;
}

.login > input {
  margin-right: 10px;
}
